/*--- Conversation main container  ---*/

.conversationContainer{
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80');
    height: 100%;
    width: 100%;
}

/*--- Conversation Container ---*/

.userConversationContainer {
    height: calc(100% - 80px);
}

/*--- Input to send message ---*/

.conversationInputContainer {
    height: 80px;
}